/* contenu */
div.sample {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.auteur{
	flex: 0 1 20%;
	padding: 0.5em;
	margin: 0.5em;
	background-color: #A4A4A4;
}
