/* contenu */
div.sample {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blocLivre {
  flex: 0 1 30%;
  margin: 0.5em;
  display: flex;
  background-color: #A4A4A4;
  padding: 0
}

.blocLivre img {
  margin: 0;
}

.blocLivre ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100%;
}

.blocLivre #titre {
  text-decoration: underline;
}
