#main{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	background-color: #A4A4A4;
}

#main>*{
	text-align: center;
}

h1{
	text-decoration: underline;
	flex: 1 1 100%;
}

.sample{
	display : flex;
	margin: 2em auto;
	margin-bottom: 2em;
}

.sample img{
	flex : 0 1 auto;
	vertical-align:middle;
}

.sample ul{
	display:flex;
	flex-direction: column;
	text-align: left;
	justify-content:center;
}
