{% extends "base.html" %}
{% block main %}
<h1>Add author</h1>
<form class="form-horizontal" role="form" method="POST" action="">
	{{ form.hidden_tag() }}
    <div class='form-group'>
        <label for="name" class="col-sm-2 control-label">{{form.name.label}}</label>
        <div class="col-sm-10">{{form.name(size=50, class_="form-control",placeholder="Name")}}</div>
	</div>
	<div class='form-group'>
        <div class="col-sm-offset-2 col-sm-10">
            <input class="btn btn-default" type="submit" value="Ajouter">
        </div>
    </div>
</form>
{% endblock %}