{%extends "base.html" %}

{% block main %}
	<h1>{{ title }}</h1>
	<div class="sample">
		{% for x in authors %}
			<a class="auteur" href="/author/{{x.id}}">{{x.name}}</a>
		{%endfor%}
	</div>
{% endblock %}
