{% extends "bootstrap/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block styles %}
{{super()}}

<link rel="stylesheet" href=" {{ url_for('static', filename='base.css') }} ">
<link rel="stylesheet" href= {% if style %}"{{style}}"
							{% else %} "{{ url_for('static', filename='home.css' ) }}"
							{% endif %}>

{% endblock %}
{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Tiny Amazon</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="/authors">Les Auteurs</a></li>
				<li><a href="/find/author">Rechercher un auteur</a></li>
				<li><a href="/find/book">Rechercher un livre</a></li>
				<li><a href="/favoris">Vos favoris</a></li>
				{#<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li role="separator" class="divider"></li>
						<li class="dropdown-header">Nav header</li>
						<li><a href="#">Separated link</a></li>
						<li><a href="#">One more separated link</a></li>
					</ul>
				</li>#}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if current_user.is_authenticated %}
					<li><a>{{current_user.username}}</a></li>
					<li>
						<a href="{{ url_for('logout')}}">
							<span class="glyphicon glyphicon-log-out"
								  title="Logout"></span>
						</a>
					</li>
				{% else %}
					<li><a href="/login/">Se Connecter</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
{% endblock %}
{% block content %}
<div id="main" class="container thme-showcase" role="main">
	{% block main %}{% endblock %}
</div>
{% endblock %}
