{% extends "base.html" %}
{% block main %}
<h1>Edit author: {{author.name}}</h1>
<form method="POST" action="">
	{{ form.hidden_tag() }}
	<div class='form-group {% if form.name.errors %} " has-errors" {% endif %}'>
		{{ form.name.label }}{{ form.name(size=50,class = "form-control") }}
	</div>
	{% if form.name.errors %}
		<ul class="list-group">
		{% for e in form.name.errors %}
		<li class="list-group-item list-group-item-danger">
			{{e}}
		</li>
		{% endfor %}
		</ul>
	{% endif %}
	<input class="btn btn-default" type="submit" value="Enregistrer">
</form>
{% endblock %}
