{%extends "base.html" %}

{% block main %}
	<h1>{{ title }}</h1>
	<ul>
		{% for e in liste %}
		<li><a href="{{page}}/{{e.id}}">{% if e.name %}{{e.name}}
										{% else %}{{e.title}}
										{% endif %}
		</a></li>
		{% endfor %}
	</ul>
{% endblock %}
