{%extends "base.html" %}

{% block main %}
<section>
	<h1>{{ title }}</h1>
	<a href="#bas">Bas de la page</a>
</section>
<div class="sample">
	{% for x in books %}
	<div class="blocLivre">
		<img src="{{ url_for('static', filename='images/'+x.img) }}" alt="couverture de {{x.title}}" />
		<ul>
			<li id="titre">{{x.title}}</li>
			<li><a href="/author/{{x.author_id}}">{{x.author.name}}</a></li>
			<li>{{"%.2f€"|format(x.price)}}</li>
			<li><a href="{{x.url}}" target="_blank">Page Amazon</a></li>
			<li><a class="btn btn-danger" href="/addFav/{{x.id}}">Ajouter aux favoris</a></li>
		</ul>
	</div>
	{%endfor%}
</div>
<a id="bas" href="#">Haut de la page</a>
{% endblock %}
