{%extends "base.html" %}

{% block main %}
<h1>{{ book.title }}</h1>
<div class="sample">
	<img src="{{ url_for('static', filename='images/'+book.img) }}" alt="couverture de {{book.title}}" />
	<ul>
		<li><a href="/author/{{book.author_id}}">{{book.author.name}}</a></li>
		<li>{{"%.2f€"|format(book.price)}}</li>
		<li><a href="{{book.url}}" target="_blank">Page Amazon</a></li>
	</ul>
</div>
<a class="btn btn-danger" href="/addFav/{{book.id}}">Ajouter aux favoris</a>
{% endblock %}
